<div class="line">
  <h2 class="lastUnit"> All restaurants in this area </h2>
  <div class="unitExt">
    <button class="btn-sort"> sort by rating </button>
  </div>
</div>
<div class="restaurants-list">
{{#each restaurants.models}}
  <div class="restaurant-item line" data-id="{{this.attributes.id}}">
      <h3>{{this.attributes.name}}</h3>
    <div class="line">
      <div class="unit">
      {{#if this.attributes.ratingColor}}
        <span style="color:#{{this.attributes.ratingColor}}">{{this.attributes.rating}}</span>
      {{else}}
        unrated
      {{/if}}
      </div>
      <div class="unitExt">
        Distance: {{this.attributes.location.distance}}m
      </div>
  </div>
</div>
{{/each}}
</div>
